* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Panel{
    background-image: url(Rectangle\ 2.png);
    width: 75px;
    height: 100%;
    position: fixed;
}

.background{
    background-image: url(Rectangle\ 1.png);
    height: 100%;
}
.info{
    background-image: url(Rectangle\ 3.png);
    width: 80%;
    height: 920px;
    margin-left: 170px;
    position: relative;
    padding-top: 5px;
    border-radius: 15px;
}

.ImageInfo{
    margin-left: 45px;
    width: 100%;
    position: absolute;
    bottom: 20px;
}

.Icons{
    margin: 5px;
    width: 64px;
}

.Name{
    margin: 25px;
    margin-left: 30%;
    width: 40%;
}

h2, h1, h3 ,h4, h5{
    font-size: 25px;
    margin: 25px;
    margin-top: 20px;
}